
// 共通変数
// -------------------------------------

// フォント
$font_default : 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
$font_mincho : "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "ＭＳ 明朝" , "MS Mincho" , serif;
$font_en : 'Open Sans', sans-serif;

//コンテンツ
// $headerHeight : 72px;
$headerHeight : 60px;

//最大幅
$maxWidth : 1500px;
$minWidth : 1180px;
// $minWidth : 1050px;

// color
$keyColor : #113856;
$subColor : #80d1ea;
$logoColor : #0074bc;
$color_header : #f8f9fa;
$color_border_gray : #e5e5e5;
$color_footer_link : #656565;
$color_gray : #b0b0b0;
$color_bg_gray : #e3e3e3;
$color_alert : #fc534c;
$color_font_default : #666666;
$color_highlight : #ffde40;