@import "_var", "_screen", "_mixin", "_keyframe", "_extend";

.postContents, .freeArea, .comments-area{
font-family: $font_en;
*{
  @include box_sizing;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 0;
}

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-size: 1.4rem;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: 1px #767676 dotted;
  text-decoration: none;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: 700;
}

code,
kbd,
samp {
  font-size: 1.2em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #eee;
  color: #222;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 1.2rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-size: 1.4rem;
  line-height: 1.15;
  margin: 0;
  font-family: $font_en;
  color: $color_font_default;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #bbb;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/*--------------------------------------------------------------
2.0 Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers. */

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

/*--------------------------------------------------------------
3.0 Alignments
--------------------------------------------------------------*/

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
4.0 Clearings
--------------------------------------------------------------*/

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.entry-footer:before,
.entry-footer:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.nav-links:before,
.nav-links:after,
.pagination:before,
.pagination:after,
.comment-author:before,
.comment-author:after,
.widget-area:before,
.widget-area:after,
.widget:before,
.widget:after,
.comment-meta:before,
.comment-meta:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after,
.entry-footer:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after,
.nav-links:after,
.pagination:after,
.comment-author:after,
.widget-area:after,
.widget:after,
.comment-meta:after {
  clear: both;
}

/*--------------------------------------------------------------
5.0 Typography
--------------------------------------------------------------*/

/*
body,
button,
input,
select,
textarea {
  color: #333;
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.66;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  line-height: 1.4;
  margin: 0 0 0.75em;
  padding: 1.5em 0 0;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  padding-top: 0;
}

h1 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 300;
}

h2 {
  color: #666;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 300;
}

h3 {
  color: #333;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 300;
}

h4 {
  color: #333;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 800;
}

h5 {
  color: #767676;
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 800;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

h6 {
  color: #333;
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 800;
}*/

p {
  margin: 0 0 1.5em;
  padding: 0;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  color: #666;
  font-size: 15px;
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.7;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

blockquote cite {
  display: block;
  font-style: normal;
  font-weight: 600;
  margin-top: 0.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-size: 15px;
  font-size: 1.5rem;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #eee;
  text-decoration: none;
}

big {
  font-size: 1.8rem;
}

blockquote {
  quotes: "" "";
}

q {
  quotes: "“" "”" "‘" "’";
}

blockquote:before,
blockquote:after {
  content: "";
}

:focus {
  outline: none;
}


/* Typography for Arabic Font */
/* Typography for Arabic Font */


/*--------------------------------------------------------------
6.0 Forms
--------------------------------------------------------------*/

label {
  color: #333;
  display: block;
  font-weight: 800;
  margin-bottom: 0.5em;
}

fieldset {
  margin-bottom: 1em;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: $color_font_default;
  background: #fff;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  border: 1px solid $color_border_gray;
  display: block;
  padding: 10px;
  width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: $color_font_default;
  border-color: $color_gray;
}

select {
  padding: 10px 35px 10px 10px;
  max-width: 100%;
  min-width: 200px;
  border: 1px solid $color_border_gray;
  background: none;
  @include border-radius(0);
  @include box_sizing;

  // width: 130%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 $color_font_default;
}

.error{
  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="search"],
  input[type="number"],
  input[type="tel"],
  input[type="range"],
  input[type="date"],
  input[type="month"],
  input[type="week"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="color"],
  textarea,
  select{
    border-color: rgba(red, .3);
    background: rgba(red, .05);
  }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="number"]:focus,
  input[type="tel"]:focus,
  input[type="range"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="time"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="color"]:focus,
  textarea:focus,
  select:focus{
    // color: $color_font_default;
    // border-color: $color_gray;
  }
}


input[type="radio"],
input[type="checkbox"] {
  margin-right: 0.5em;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  font-weight: 400;
}

button,
input[type="button"],
input[type="submit"] {
  // background-color: $color_font_default;
  border: 0;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  // color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-size: 1.4rem;
  // font-weight: 800;
  line-height: 1;
  padding: 1em 2em;
  text-shadow: none;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

input + button,
input + input[type="button"],
input + input[type="submit"] {
  padding: 0.75em 2em;
}

button.secondary,
input[type="reset"],
input[type="button"].secondary,
input[type="reset"].secondary,
input[type="submit"].secondary {
  background-color: #ddd;
  color: #222;
}

button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  // background: #767676;
}

button.secondary:hover,
button.secondary:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="button"].secondary:hover,
input[type="button"].secondary:focus,
input[type="reset"].secondary:hover,
input[type="reset"].secondary:focus,
input[type="submit"].secondary:hover,
input[type="submit"].secondary:focus {
  background: #bbb;
}

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
  color: $color_font_default;
}

:-moz-placeholder {
  color: $color_font_default;
}

::-moz-placeholder {
  color: $color_font_default;
  opacity: 1;
  /* Since FF19 lowers the opacity of the placeholder by default */
}

:-ms-input-placeholder {
  color: $color_font_default;
}

/*--------------------------------------------------------------
7.0 Formatting
--------------------------------------------------------------*/

hr {
  background-color: #bbb;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

/*--------------------------------------------------------------
8.0 Lists
--------------------------------------------------------------*/

ul,
ol {
  margin: 0 0 1.5em;
  padding: 0 0 0 25px;
}

ul{
  list-style: disc;
}

ol{
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 1.5em 1.5em;
}

/*--------------------------------------------------------------
9.0 Tables
--------------------------------------------------------------*/

table {
  border-collapse: collapse;
  margin: 0 0 1.5em;
  width: 100%;
}

thead th {
  border-bottom: 2px solid #bbb;
  padding-bottom: 0.5em;
}

th {
  padding: 0.4em;
  text-align: left;
}

tr {
  border-bottom: 1px solid #eee;
}

td {
  padding: 0.4em;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

/*--------------------------------------------------------------
10.0 Links
--------------------------------------------------------------*/

a {
  color: #222;
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  color: #000;
  outline: 0;
}

/* Hover effects */

.entry-content a,
.entry-summary a,
.widget a,
.site-footer .widget-area a,
.posts-navigation a,
.widget_authors a strong {
  // -webkit-box-shadow: inset 0 -1px 0 rgba(15, 15, 15, 1);
  // box-shadow: inset 0 -1px 0 rgba(15, 15, 15, 1);
  // -webkit-transition: color 80ms ease-in, -webkit-box-shadow 130ms ease-in-out;
  // transition: color 80ms ease-in, -webkit-box-shadow 130ms ease-in-out;
  // transition: color 80ms ease-in, box-shadow 130ms ease-in-out;
  // transition: color 80ms ease-in, box-shadow 130ms ease-in-out, -webkit-box-shadow 130ms ease-in-out;
}

.entry-title a,
.entry-meta a,
.page-links a,
.page-links a .page-number,
.entry-footer a,
.entry-footer .cat-links a,
.entry-footer .tags-links a,
.edit-link a,
.post-navigation a,
.logged-in-as a,
.comment-navigation a,
.comment-metadata a,
.comment-metadata a.comment-edit-link,
.comment-reply-link,
a .nav-title,
.pagination a,
.comments-pagination a,
.site-info a,
.widget .widget-title a,
.widget ul li a,
.site-footer .widget-area ul li a,
.site-footer .widget-area ul li a {
  -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 1);
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 1);
  text-decoration: none;
  -webkit-transition: color 80ms ease-in, -webkit-box-shadow 130ms ease-in-out;
  transition: color 80ms ease-in, -webkit-box-shadow 130ms ease-in-out;
  transition: color 80ms ease-in, box-shadow 130ms ease-in-out;
  transition: color 80ms ease-in, box-shadow 130ms ease-in-out, -webkit-box-shadow 130ms ease-in-out;
}

.entry-content a:focus,
.entry-content a:hover,
.entry-summary a:focus,
.entry-summary a:hover,
.widget a:focus,
.widget a:hover,
.site-footer .widget-area a:focus,
.site-footer .widget-area a:hover,
.posts-navigation a:focus,
.posts-navigation a:hover,
.comment-metadata a:focus,
.comment-metadata a:hover,
.comment-metadata a.comment-edit-link:focus,
.comment-metadata a.comment-edit-link:hover,
.comment-reply-link:focus,
.comment-reply-link:hover,
.widget_authors a:focus strong,
.widget_authors a:hover strong,
.entry-title a:focus,
.entry-title a:hover,
.entry-meta a:focus,
.entry-meta a:hover,
.page-links a:focus .page-number,
.page-links a:hover .page-number,
.entry-footer a:focus,
.entry-footer a:hover,
.entry-footer .cat-links a:focus,
.entry-footer .cat-links a:hover,
.entry-footer .tags-links a:focus,
.entry-footer .tags-links a:hover,
.post-navigation a:focus,
.post-navigation a:hover,
.pagination a:not(.prev):not(.next):focus,
.pagination a:not(.prev):not(.next):hover,
.comments-pagination a:not(.prev):not(.next):focus,
.comments-pagination a:not(.prev):not(.next):hover,
.logged-in-as a:focus,
.logged-in-as a:hover,
a:focus .nav-title,
a:hover .nav-title,
.edit-link a:focus,
.edit-link a:hover,
.site-info a:focus,
.site-info a:hover,
.widget .widget-title a:focus,
.widget .widget-title a:hover,
.widget ul li a:focus,
.widget ul li a:hover {
  // color: #000;
  // -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 3px 0 rgba(0, 0, 0, 1);
  // box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 3px 0 rgba(0, 0, 0, 1);
}

/* Fixes linked images */
.entry-content a img,
.widget a img {
  -webkit-box-shadow: 0 0 0 8px #fff;
  box-shadow: 0 0 0 8px #fff;
}

.post-navigation a:focus .icon,
.post-navigation a:hover .icon {
  color: #222;
}

/*--------------------------------------------------------------
11.0 Featured Image Hover
--------------------------------------------------------------*/

.post-thumbnail {
  margin-bottom: 1em;
}

.post-thumbnail a img {
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.post-thumbnail a:hover img,
.post-thumbnail a:focus img {
  opacity: 0.7;
}

/*--------------------------------------------------------------
12.0 Navigation
--------------------------------------------------------------*/

.navigation-top {
  background: #fff;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  font-size: 16px;
  font-size: 1.6rem;
  position: relative;
}

.navigation-top .wrap {
  max-width: 1000px;
  padding: 0;
}

.navigation-top a {
  color: #222;
  font-weight: 600;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.navigation-top .current-menu-item > a,
.navigation-top .current_page_item > a {
  color: #767676;
}

.main-navigation {
  clear: both;
  display: block;
}

.main-navigation ul {
  background: #fff;
  list-style: none;
  margin: 0;
  padding: 0 1.5em;
  text-align: left;
}

/* Hide the menu on small screens when JavaScript is available.
 * It only works with JavaScript.
 */

.js .main-navigation ul,
.main-navigation .menu-item-has-children > a > .icon,
.main-navigation .page_item_has_children > a > .icon,
.main-navigation ul a > .icon {
  display: none;
}

.main-navigation > div > ul {
  border-top: 1px solid #eee;
  padding: 0.75em 1.695em;
}

.js .main-navigation.toggled-on > div > ul {
  display: block;
}

.main-navigation ul ul {
  padding: 0 0 0 1.5em;
}

.main-navigation ul ul.toggled-on {
  display: block;
}

.main-navigation ul ul a {
  letter-spacing: 0;
  padding: 0.4em 0;
  position: relative;
  text-transform: none;
}

.main-navigation li {
  border-bottom: 1px solid #eee;
  position: relative;
}

.main-navigation li li,
.main-navigation li:last-child {
  border: 0;
}

.main-navigation a {
  display: block;
  padding: 0.5em 0;
  text-decoration: none;
}

.main-navigation a:hover {
  color: #767676;
}

/* Menu toggle */

.menu-toggle {
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #222;
  display: none;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 1.5;
  margin: 1px auto 2px;
  padding: 1em;
  text-shadow: none;
}

/* Display the menu toggle when JavaScript is available. */

.js .menu-toggle {
  display: block;
}

.main-navigation.toggled-on ul.nav-menu {
  display: block;
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.menu-toggle:focus {
  outline: thin solid;
}

.menu-toggle .icon {
  margin-right: 0.5em;
  top: -2px;
}

.toggled-on .menu-toggle .icon-bars,
.menu-toggle .icon-close {
  display: none;
}

.toggled-on .menu-toggle .icon-close {
  display: inline-block;
}

/* Dropdown Toggle */

.dropdown-toggle {
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #222;
  display: block;
  // font-size: 16px;
  font-size: 1.6rem;
  right: -0.5em;
  line-height: 1.5;
  margin: 0 auto;
  padding: 0.5em;
  position: absolute;
  text-shadow: none;
  top: 0;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
  background: transparent;
}

.dropdown-toggle:focus {
  outline: thin dotted;
}

.dropdown-toggle.toggled-on .icon {
  -ms-transform: rotate(-180deg); /* IE 9 */
  -webkit-transform: rotate(-180deg); /* Chrome, Safari, Opera */
  transform: rotate(-180deg);
}

/* Scroll down arrow */

.site-header .menu-scroll-down {
  display: none;
}

/*--------------------------------------------------------------
13.0 Layout
--------------------------------------------------------------*/



/*--------------------------------------------------------------
13.1 Header
--------------------------------------------------------------*/



/*--------------------------------------------------------------
13.2 Front Page
--------------------------------------------------------------*/



/*--------------------------------------------------------------
13.3 Regular Content
--------------------------------------------------------------*/


/*--------------------------------------------------------------
13.4 Posts
--------------------------------------------------------------*/

/* Post Landing Page */

.sticky {
  position: relative;
}

.post:not(.sticky) .icon-thumb-tack {
  display: none;
}

.sticky .icon-thumb-tack {
  display: block;
  height: 18px;
  left: -1.5em;
  position: absolute;
  top: 1.65em;
  width: 20px;
}

.page .panel-content .entry-title,
.page-title,
body.page:not(.twentyseventeen-front-page) .entry-title {
  color: #222;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 800;
  letter-spacing: 0.14em;
  text-transform: uppercase;
}

.entry-header .entry-title {
  margin-bottom: 0.25em;
}

.entry-title a {
  color: #333;
  text-decoration: none;
  margin-left: -2px;
}

.entry-title:not(:first-child) {
  padding-top: 0;
}

.entry-meta {
  color: #767676;
  font-size: 11px;
  font-size: 1.1rem;
  font-weight: 800;
  letter-spacing: 0.1818em;
  padding-bottom: 0.25em;
  text-transform: uppercase;
}

.entry-meta a {
  color: #767676;
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.pagination,
.comments-pagination {
  border-top: 1px solid #eee;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 800;
  padding: 2em 0 3em;
  text-align: center;
}

.pagination .icon,
.comments-pagination .icon {
  width: 0.666666666em;
  height: 0.666666666em;
}

.comments-pagination {
  border: 0;
}

.page-numbers {
  display: none;
  padding: 0.5em 0.75em;
}

.page-numbers.current {
  color: #767676;
  display: inline-block;
}

.page-numbers.current .screen-reader-text {
  clip: auto;
  height: auto;
  overflow: auto;
  position: relative !important;
  width: auto;
}

.prev.page-numbers,
.next.page-numbers {
  background-color: #ddd;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1;
  padding: 0.25em 0.5em 0.4em;
}

.prev.page-numbers,
.next.page-numbers {
  -webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
}

.prev.page-numbers:focus,
.prev.page-numbers:hover,
.next.page-numbers:focus,
.next.page-numbers:hover {
  background-color: #767676;
  color: #fff;
}

.prev.page-numbers {
  float: left;
}

.next.page-numbers {
  float: right;
}

/* Aligned blockquotes */

.entry-content blockquote.alignleft,
.entry-content blockquote.alignright {
  color: #666;
  font-size: 13px;
  font-size: 1.3rem;
  width: 48%;
}

/* Blog landing, search, archives */

.blog .site-main > article,
.archive .site-main > article,
.search .site-main > article {
  padding-bottom: 2em;
}

.blog .entry-meta a.post-edit-link,
.archive .entry-meta a.post-edit-link,
.search .entry-meta a.post-edit-link {
  color: #222;
  display: inline-block;
  margin-left: 1em;
  white-space: nowrap;
}

.search .page .entry-meta a.post-edit-link {
  margin-left: 0;
  white-space: nowrap;
}

.taxonomy-description {
  color: #666;
  font-size: 13px;
  font-size: 1.3rem;
}

/* More tag */

.entry-content .more-link:before {
  content: "";
  display: block;
  margin-top: 1.5em;
}

/* Single Post */

.single-post:not(.has-sidebar) #primary,
.page.page-one-column:not(.twentyseventeen-front-page) #primary,
.archive.page-one-column:not(.has-sidebar) .page-header,
.archive.page-one-column:not(.has-sidebar) #primary {
  margin-left: auto;
  margin-right: auto;
  max-width: 740px;
}

.single-featured-image-header {
  background-color: #fafafa;
  border-bottom: 1px solid #eee;
}

.single-featured-image-header img {
  display: block;
  margin: auto;
}

.page-links {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 800;
  padding: 2em 0 3em;
}

.page-links .page-number {
  color: #767676;
  display: inline-block;
  padding: 0.5em 1em;
}

.page-links a {
  display: inline-block;
}

.page-links a .page-number {
  color: #222;
}

/* Entry footer */

.entry-footer {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  margin-top: 2em;
  padding: 2em 0;
}

.entry-footer .cat-links,
.entry-footer .tags-links {
  display: block;
  font-size: 11px;
  font-size: 1.1rem;
  font-weight: 800;
  letter-spacing: 0.1818em;
  padding-left: 2.5em;
  position: relative;
  text-transform: uppercase;
}

.entry-footer .cat-links + .tags-links {
  margin-top: 1em;
}

.entry-footer .cat-links a,
.entry-footer .tags-links a {
  color: #333;
}

.entry-footer .cat-links .icon,
.entry-footer .tags-links .icon {
  color: #767676;
  left: 0;
  margin-right: 0.5em;
  position: absolute;
  top: 2px;
}

.entry-footer .edit-link {
  display: inline-block;
}

.entry-footer .edit-link a.post-edit-link {
  background-color: #222;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 800;
  margin-top: 2em;
  padding: 0.7em 2em;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  white-space: nowrap;
}

.entry-footer .edit-link a.post-edit-link:hover,
.entry-footer .edit-link a.post-edit-link:focus {
  background-color: #767676;
}

/* Post Formats */

.blog .format-status .entry-title,
.archive .format-status .entry-title,
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

.format-quote blockquote {
  color: #333;
  font-size: 20px;
  font-size: 2rem;
  font-weight: 300;
  overflow: visible;
  position: relative;
}

.format-quote blockquote .icon {
  display: block;
  height: 20px;
  left: -1.25em;
  position: absolute;
  top: 0.4em;
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  width: 20px;
}

/* Post Navigation */

.post-navigation {
  font-weight: 800;
  margin: 3em 0;
}

.post-navigation .nav-links {
  padding: 1em 0;
}

.nav-subtitle {
  background: transparent;
  color: #767676;
  display: block;
  font-size: 11px;
  font-size: 1.1rem;
  letter-spacing: 0.1818em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.nav-title {
  color: #333;
  font-size: 15px;
  font-size: 1.5rem;
}

.post-navigation .nav-next {
  margin-top: 1.5em;
}

.nav-links .nav-previous .nav-title .nav-title-icon-wrapper {
  margin-right: 0.5em;
}

.nav-links .nav-next .nav-title .nav-title-icon-wrapper {
  margin-left: 0.5em;
}


/*--------------------------------------------------------------
14.0 Comments
--------------------------------------------------------------*/

#comments {
  clear: both;
  padding: 2em 0 0.5em;
}
.comments-title {
  // font-size: 20px;
  // font-size: 1.25rem;
  // margin-bottom: 1.5em;
}

.comment-list,
.comment-list .children {
  list-style: none;
  margin: 0;
  padding: 0;
}

.comment-list li:before {
  display: none;
}

.comment-body {
  margin-left: 65px;
}

.comment-author {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 0.4em;
  position: relative;
  z-index: 2;
}

.comment-author .avatar {
  height: 50px;
  left: -65px;
  position: absolute;
  width: 50px;
}

.comment-author .says {
  display: none;
}

.comment-meta {
  margin-bottom: 1.5em;
}

.comment-metadata {
  color: #767676;
  font-size: 10px;
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 0.1818em;
  text-transform: uppercase;
}

.comment-metadata a {
  color: #767676;
}

.comment-metadata a.comment-edit-link {
  color: #222;
  margin-left: 1em;
}

.comment-body {
  color: #333;
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 4em;
}

.comment-reply-link {
  font-weight: 800;
  position: relative;
}

.comment-reply-link .icon {
  color: #222;
  left: -2em;
  height: 1em;
  position: absolute;
  top: 0;
  width: 1em;
}

.children .comment-author .avatar {
  height: 30px;
  left: -45px;
  width: 30px;
}

.bypostauthor > .comment-body > .comment-meta > .comment-author .avatar {
  border: 1px solid #333;
  padding: 2px;
}

.no-comments,
.comment-awaiting-moderation {
  color: #767676;
  font-size: 14px;
  font-size: 1.4rem;
  font-style: italic;
}

.comments-pagination {
  margin: 2em 0 3em;
}

.form-submit {
  text-align: right;
}

}


/*--------------------------------------------------------------
19.0 Media Queries
--------------------------------------------------------------*/

@media screen and (min-width: 30em) {
.postContents{
  /* Typography */
  button,
  input,
  select,
  textarea {
    font-size: 1.4rem;
  }

  blockquote.alignleft,
  blockquote.alignright {
    font-size: 14px;
    font-size: 1.4rem;
  }

  /* Fix image alignment */
  img.alignleft {
    float: left;
    margin-right: 1.5em;
  }

  img.alignright {
    float: right;
    margin-left: 1.5em;
  }
}
}

@media screen and (min-width: 48em) {
.postContents{
  /* Typography */
  button,
  input,
  select,
  textarea {
    font-size: 1.4rem;
    line-height: 1.5;
  }

  blockquote.alignleft,
  blockquote.alignright {
    font-size: 1.3rem;
  }
}
}


@media screen and ( min-width: 79em ) {
  .has-sidebar .postContent blockquote.alignleft {
    margin-left: -20%;
  }

  .blog:not(.has-sidebar) .postContent blockquote.alignright,
  .archive:not(.has-sidebar) .postContent blockquote.alignright,
  .page-two-column .postContent blockquote.alignright,
  .twentyseventeen-front-page .postContent blockquote.alignright {
    margin-right: -20%;
  }
}

